swagger: '2.0'
info:
  title: Living Progress - Build - Mentor Me
  description: Living Progress - Build - Mentor Me API.
  version: "1.0.0"
# the sample made up domain of the service
host: api.mentorme.com
# array of all schemes the API supports
schemes:
  - http
  - https
# will be prefixed to all paths
securityDefinitions:
  basicAuth:
    type: basic
# HTTP Basic Authentication. Works over `HTTP` and `HTTPS`
produces:
  - application/json
paths:
  /institutions/{id}:
    get:
      tags:
        - Institution
      summary: get institution
      description: This endpoint is responsible for getting institution
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Institutions
          schema:
            $ref: '#/definitions/Institution'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Institution
      summary: update institution
      description: This endpoint is responsible for updating institution
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: body
          in: body
          description: The institution to update
          schema:
            $ref: '#/definitions/Institution'
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/Institution'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Institution
      summary: delte institution
      description: This endpoint is responsible for deleting institution
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutions:
    get:
          tags:
            - Institution
          summary: search for entities
          description: This endpoint is responsible for searching by criteria. For the rest of the criteria params see TCUML.
          security:
          - basicAuth: []
          parameters:
            - name: institutionName
              in: query
              description: The institution Name
              type: string
              required: false
            - name: parentOrganization
              in: query
              description: The parent organization
              type: string
              required: false
            - name: location
              in: query
              description: The location
              type: string
              required: false
            - name: email
              in: query
              description: The email
              type: string
              required: false
            - name: description
              in: query
              description: The description
              type: string
              required: false
            - name: status
              in: query
              description: The status
              type: string
              required: false
            - name: pageNumber
              in: query
              description: The page number
              type: number
              format: int32
              required: false
            - name: pageSize
              in: query
              description: The page size
              type: number
              format: int32
              required: false
            - name: sortColumn
              in: query
              description: The sort column
              type: string
              required: false
            - name: sortOrder
              in: query
              description: The sort order
              type: string
              required: false
          responses:
            200:
              description: The response containing the Institutions
              schema:
                $ref: '#/definitions/InstitutionSearchResult'
            400:
              description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
              schema:
                $ref: '#/definitions/Error'
            401:
              description: Authentication Error - if token is missing or invalid
              schema:
                $ref: '#/definitions/Error'
            403:
              description: Access Denied Error - if forbidden to access
              schema:
                $ref: '#/definitions/Error'
            500:
              description: Internal server error - if the request was properly formatted, but the operation failed on the server side
              schema:
                $ref: '#/definitions/Error'
            default:
              description: Unexpected error.
              schema:
                $ref: '#/definitions/Error'
    post:
      tags:
        - Institution
      summary: create institution
      description: This endpoint is responsible for creating institution
      security:
        - basicAuth: []
      parameters:
        - name: institution
          in: body
          description: The institution to create
          schema:
            $ref: '#/definitions/InstitutionCreateBody'
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/Institution'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
            description: Authentication Error - if token is missing or invalid
            schema:
              $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutions/{id}/generateAffiliationCode:
    put:
      tags:
        - Institution
      summary: get generated institution affiliation code
      description: This endpoint is responsible for getting institution affiliation code
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the code
          schema:
            type: string
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutions/affiliationCode/{affiliationCode}:
    get:
      tags:
        - Institution
      summary: get  institution for affiliation code
      description: This endpoint is responsible for getting institution for affiliation code
      security:
        - basicAuth: []
      parameters:
        - name: affiliationCode
          in: path
          description: The affiliation code
          type: string
          required: true
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/Institution'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutions/useAffiliationCode:
    put:
      tags:
        - Institution
      summary: use affiliation code
      description: This endpoint is responsible for setting used flag for affiliation code
      security:
        - basicAuth: []
      parameters:
        - name: affiliationCode
          in: query
          description: The affiliation code
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutions/{id}/summary:
    get:
      tags:
        - Institution
      summary: get the summary
      description: This endpoint is responsible for getting institution summary
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the InstitutionSummary
          schema:
            $ref: '#/definitions/InstitutionSummary'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'


  /institutionalPrograms/{id}:
    get:
      tags:
        - InstitutionalProgram
      summary: get institutionalProgram
      description: This endpoint is responsible for getting institutionalProgram
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the InstitutionalProgram
          schema:
            $ref: '#/definitions/InstitutionalProgram'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - InstitutionalProgram
      summary: update institutionalProgram
      description: This endpoint is responsible for updating institutionalProgram
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: number
          required: true
        - name: programName
          in: formData
          description: The program name
          type: string
        - name: startDate
          in: formData
          description: The start date
          type: string
        - name: endDate
          in: formData
          description: The end date
          type: string
        - name: institution.id
          in: formData
          description: The institution id
          type: number
        - name: programCategory.id
          in: formData
          description: The program category id
          type: number
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: programImageUrl
          in: formData
          description: The program image url
          type: string
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/InstitutionalProgram'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - InstitutionalProgram
      summary: delte institution
      description: This endpoint is responsible for deleting institutionalProgram
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
  
  /institutionalPrograms/{id}/clone:
    post:
      tags:
        - InstitutionalProgram
      summary: clone institutionalProgram as menteeMentorProgram
      description: This endpoint is responsible for cloning the institutionalProgram and create a menteeMentorProgram instance.
      security:
      - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: body
          in: body
          description: The mentee mentor ids
          schema:
            $ref: '#/definitions/MenteeMentorIds'
      responses:
        200:
          description: The response containing the MenteeMentorProgram
          schema:
            $ref: '#/definitions/MenteeMentorProgram'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutionalPrograms:
    get:
      tags:
        - InstitutionalProgram
      summary: search for entities
      description: This endpoint is responsible for searching by criteria. See the rest of available params in TCUML.
      security:
      - basicAuth: []
      parameters:
        - name: programName
          in: query
          description: The program Name
          type: string
          required: false
        - name: institutionId
          in: query
          description: The institution id
          type: number
          format: int32
          required: false
        - name: programCategory.id
          in: query
          description: The program category id
          type: number
          format: int32
          required: false
        - name: minDurationInDays
          in: query
          description: The min duration in days
          type: number
          format: int32
          required: false
        - name: maxDurationInDays
          in: query
          description: The max duration in days
          type: number
          format: int32
          required: false
        - name: pageNumber
          in: query
          description: The page number
          type: number
          format: int32
          required: false
        - name: pageSize
          in: query
          description: The page size
          type: number
          format: int32
          required: false
        - name: sortColumn
          in: query
          description: The sort column
          type: string
          required: false
        - name: sortOrder
          in: query
          description: The sort order
          type: string
          required: false
        - name: locale
          in: query
          description: the locale of the programs
          type: string
          required: false
      responses:
        200:
          description: The response containing the InstitutionalPrograms
          schema:
            $ref: '#/definitions/InstitutionalProgramSearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - InstitutionalProgram
      summary: create institutionalProgram
      description: This endpoint is responsible for creating institutionalProgram
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: programName
          in: formData
          description: The program name
          type: string
        - name: startDate
          in: formData
          description: The start date
          type: string
        - name: endDate
          in: formData
          description: The end date
          type: string
        - name: institution.id
          in: formData
          description: The institution id
          type: number
        - name: programCategory.id
          in: formData
          description: The program category id
          type: number
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: programImageUrl
          in: formData
          description: The program image url
          type: string
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/InstitutionalProgram'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutionalPrograms/{id}/mentees:
    get:
      tags:
        - InstitutionalProgram
      summary: get institutionalProgram mentees
      description: This endpoint is responsible for getting institutionalProgram mentees
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Mentees
          schema:
            type: array
            items:
              $ref: '#/definitions/Mentee'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /institutionalPrograms/{id}/mentors:
    get:
      tags:
        - InstitutionalProgram
      summary: get institutionalProgram mentors
      description: This endpoint is responsible for getting institutionalProgram mentors
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Mentors
          schema:
            type: array
            items:
              $ref: '#/definitions/Mentor'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /documents/{entityType}/{entityId}:
    post:
      tags:
        - Document
      summary: add documents to the entity
      description: Add documents to the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
        - name: files
          in: formData
          description: The uploaded documents
          required: true
          type: file
      responses:
        200:
          description: The response containing the added documents
          schema:
            type: array
            items:
              $ref: '#/definitions/Document'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    get:
      tags:
        - Document
      summary: get documents associated to the entity
      description: Get documents associated to the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
      responses:
        200:
          description: The response containing the associated documents
          schema:
            type: array
            items:
              $ref: '#/definitions/Document'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /documents/{entityType}/{entityId}/document/{documentId}:
    delete:
      tags:
        - Document
      summary: remove the document from the entity
      description: Remove the document from the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
        - name: documentId
          in: path
          description: The document id.
          type: string
          required: true
      responses:
        200:
          description: The response containing the associated documents
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /usefulLinks/{entityType}/{entityId}:
    post:
      tags:
        - UsefulLink
      summary: add usefulLinks to the entity
      description: Add usefulLinks to the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
        - name: usefulLink
          in: body
          description: The usefulLink to add
          required: true
          schema:
            $ref: '#/definitions/UsefulLink'
      responses:
        200:
          description: The response containing the added usefulLinks
          schema:
            type: array
            items:
              $ref: '#/definitions/UsefulLink'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    get:
      tags:
        - UsefulLink
      summary: get usefulLinks associated to the entity
      description: Get usefulLinks associated to the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
      responses:
        200:
          description: The response containing the associated usefulLinks
          schema:
            type: array
            items:
              $ref: '#/definitions/UsefulLink'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /usefulLinks/{entityType}/{entityId}/link/{linkId}:
    delete:
      tags:
        - UsefulLink
      summary: remove the link from the entity
      description: Remove the link from the entity
      security:
        - basicAuth: []
      parameters:
        - name: entityType
          in: path
          description: The entity type. Can be MenteeMentorProgram or MenteeMentorGoal.
          type: string
          required: true
        - name: entityId
          in: path
          description: The entity id.
          type: string
          required: true
        - name: linkId
          in: path
          description: The link id.
          type: string
          required: true
      responses:
        200:
          description: The response containing the associated usefulLinks
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /goals/{id}:
    get:
      tags:
        - Goal
      summary: get goal
      description: This endpoint is responsible for getting goal
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Goal
          schema:
            $ref: '#/definitions/Goal'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Goal
      summary: update Goal
      description: This endpoint is responsible for updating Goal
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: subject
          in: formData
          description: The subject
          type: string
        - name: description
          in: formData
          description: The description
          type: string
        - name: number
          in: formData
          description: The number
          type: number
        - name: institutionalProgramId
          in: formData
          description: The institution program id
          type: number
        - name: goalCategory.id
          in: formData
          description: The goal category id
          type: number
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: custom
          in: formData
          description: The custom
          type: boolean
        - name: customData.mentor.id
          in: formData
          description: The custom mentor id
          type: number
        - name: customData.mentee.id
          in: formData
          description: The custom mentee id
          type: number
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Goal
          schema:
            $ref: '#/definitions/Goal'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Goal
      summary: delete Goal
      description: This endpoint is responsible for deleting Goal
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /goals:
    get:
      tags:
        - Goal
      summary: search for entities
      description: This endpoint is responsible for searching by criteria
      security:
      - basicAuth: []
      parameters:
         - name: institutionalProgramId
           in: query
           description: The institution program id
           type: number
           required: false
         - name: description
           in: query
           description: The description
           type: string
           required: false
         - name: subject
           in: query
           description: The subject
           type: string
           required: false
         - name: custom
           in: query
           description: The custom flag
           type: boolean
           required: false
         - name: pageNumber
           in: query
           description: The page number
           type: number
           format: int32
           required: false
         - name: pageSize
           in: query
           description: The page size
           type: number
           format: int32
           required: false
         - name: sortColumn
           in: query
           description: The sort column
           type: string
           required: false
         - name: sortOrder
           in: query
           description: The sort order
           type: string
           required: false
      responses:
        200:
          description: The response containing the InstitutionalPrograms
          schema:
            $ref: '#/definitions/GoalSearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    post:
      tags:
        - Goal
      summary: create Goal
      description: This endpoint is responsible for creating Goal
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: subject
          in: formData
          description: The subject
          type: string
        - name: description
          in: formData
          description: The description
          type: string
        - name: number
          in: formData
          description: The number
          type: number
        - name: institutionalProgramId
          in: formData
          description: The institution program id
          type: number
        - name: goalCategory.id
          in: formData
          description: The goal category id
          type: number
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: custom
          in: formData
          description: The custom
          type: boolean
        - name: customData.mentor.id
          in: formData
          description: The custom mentor id
          type: number
        - name: customData.mentee.id
          in: formData
          description: The custom mentee id
          type: number
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Goal
          schema:
            $ref: '#/definitions/Goal'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'


  /tasks/{id}:
    get:
      tags:
        - Task
      summary: get task
      description: This endpoint is responsible for getting task
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Task
          schema:
            $ref: '#/definitions/Task'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Task
      summary: update Task
      description: This endpoint is responsible for updating Task
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: description
          in: formData
          description: The description
          type: string
        - name: number
          in: formData
          description: The number
          type: number
        - name: goalId
          in: formData
          description: The goal id
          type: number
        - name: mentorAssignment
          in: formData
          description: The mentor assignment
          type: boolean
        - name: menteeAssignment
          in: formData
          description: The mentee assignment
          type: boolean
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: custom
          in: formData
          description: The custom
          type: boolean
        - name: customData.mentor.id
          in: formData
          description: The custom mentor id
          type: number
        - name: customData.mentee.id
          in: formData
          description: The custom mentee id
          type: number
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Task
          schema:
            $ref: '#/definitions/Task'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Task
      summary: delete Task
      description: This endpoint is responsible for deleting Task
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /tasks:
    get:
      tags:
        - Task
      summary: search for entities
      description: This endpoint is responsible for searching by criteria
      security:
      - basicAuth: []
      parameters:
         - name: goalId
           in: query
           description: The goal id
           type: number
           required: false
         - name: description
           in: query
           description: The description
           type: string
           required: false
         - name: custom
           in: query
           description: The custom flag
           type: boolean
           required: false
         - name: pageNumber
           in: query
           description: The page number
           type: number
           format: int32
           required: false
         - name: pageSize
           in: query
           description: The page size
           type: number
           format: int32
           required: false
         - name: sortColumn
           in: query
           description: The sort column
           type: string
           required: false
         - name: sortOrder
           in: query
           description: The sort order
           type: string
           required: false
      responses:
        200:
          description: The response containing the InstitutionalPrograms
          schema:
            $ref: '#/definitions/TaskSearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    post:
      tags:
        - Task
      summary: create Task
      description: This endpoint is responsible for creating Task
      consumes:
        - multipart/form-data
      security:
        - basicAuth: []
      parameters:
        - name: description
          in: formData
          description: The description
          type: string
        - name: number
          in: formData
          description: The number
          type: number
        - name: goalId
          in: formData
          description: The goal id
          type: number
        - name: mentorAssignment
          in: formData
          description: The mentor assignment
          type: boolean
        - name: menteeAssignment
          in: formData
          description: The mentee assignment
          type: boolean
        - name: durationInDays
          in: formData
          description: The duration in days
          type: number
        - name: custom
          in: formData
          description: The custom
          type: boolean
        - name: customData.mentor.id
          in: formData
          description: The custom mentor id
          type: number
        - name: customData.mentee.id
          in: formData
          description: The custom mentee id
          type: number
        - name: files
          in: formData
          description: The uploaded documents
          required: false
          type: file
      responses:
        200:
          description: The response containing the Task
          schema:
            $ref: '#/definitions/Task'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'


  /activities/{id}:
    get:
      tags:
        - Activity
      summary: get activity
      description: This endpoint is responsible for getting activity
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Activity
          schema:
            $ref: '#/definitions/Activity'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Activity
      summary: update Activity
      description: This endpoint is responsible for updating Activity
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: asset
          in: body
          description: The Activity to update
          schema:
            $ref: '#/definitions/Activity'
      responses:
        200:
          description: The response containing the Activity
          schema:
            $ref: '#/definitions/Activity'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Activity
      summary: delete Activity
      description: This endpoint is responsible for deleting Activity
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /activities:
    get:
      tags:
        - Activity
      summary: search for entities
      description: This endpoint is responsible for searching by criteria
      security:
      - basicAuth: []
      parameters:
         - name: institutionalProgramId
           in: query
           description: The institution program id
           type: number
           required: false
         - name: menteeId
           in: query
           description: The mentee id
           type: number
           required: false
         - name: description
           in: query
           description: The description
           type: string
           required: false
         - name: startDate
           in: query
           description: The start date
           type: string
           required: false
         - name: endDate
           in: query
           description: The end date
           type: string
           required: false
         - name: global
           in: query
           description: The global flag
           type: boolean
           required: false
         - name: activityTypes
           in: query
           description: The activity type
           type: string
           required: false
         - name: pageNumber
           in: query
           description: The page number
           type: number
           format: int32
           required: false
         - name: pageSize
           in: query
           description: The page size
           type: number
           format: int32
           required: false
         - name: sortColumn
           in: query
           description: The sort column
           type: string
           required: false
         - name: sortOrder
           in: query
           description: The sort order
           type: string
           required: false
      responses:
        200:
          description: The response containing the InstitutionalPrograms
          schema:
            $ref: '#/definitions/ActivitySearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    post:
      tags:
        - Activity
      summary: create Activity
      description: This endpoint is responsible for creating Activity
      security:
        - basicAuth: []
      parameters:
        - name: institution
          in: body
          description: The Activity to create
          schema:
            $ref: '#/definitions/Activity'
      responses:
        200:
          description: The response containing the Activity
          schema:
            $ref: '#/definitions/Activity'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - if token is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /mentees/{id}:
    get:
      tags:
        - Mentee
      summary: get Mentee
      description: This endpoint is responsible for getting Mentee
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        200:
          description: The response containing the Mentee
          schema:
            $ref: '#/definitions/Mentee'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Mentee
      summary: update Mentee
      description: This endpoint is responsible for updating Mentee
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: asset
          in: body
          description: The Mentee to update
          schema:
            $ref: '#/definitions/Mentee'
      responses:
        200:
          description: The response containing the Mentee
          schema:
            $ref: '#/definitions/Mentee'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Mentee
      summary: delte Mentee
      description: This endpoint is responsible for deleting Mentee
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /mentees/{id}/averageScore:
    get:
      tags:
        - Mentee
      summary: get Mentee average score
      description: This endpoint is responsible for getting Mentee
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: number
          required: true
      responses:
        200:
          description: The response containing the score
          schema:
            type: number
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /mentees/{id}/matchingMentors:
      get:
        tags:
          - Mentee
        summary: get Mentee match mentors
        description: This endpoint is responsible for getting match mentors Mentee
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
          - name: maxCount
            in: query
            description: The max count
            type: number
            required: false
          - name: distance
            in: query
            description: The distance
            type: number
            required: false
          - name: personalInterests[].id
            in: query
            description: The personal interests
            type: number
            required: false
          - name: professionalInterests[].id
            in: query
            description: The personal interests
            type: string
            required: false
        responses:
          200:
            description: The response containing the match mentors
            schema:
              type: array
              items:
                 $ref: '#/definitions/Mentor'
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentees/{id}/remoteMatchingMentors:
      get:
        tags:
          - Mentee
        summary: get Mentee match mentors
        description: This endpoint is responsible for getting match mentors Mentee using Haven OnDemand API
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
          - name: maxCount
            in: query
            description: The max count
            type: number
            required: false
          - name: distance
            in: query
            description: The distance
            type: number
            required: false
          - name: personalInterests[].value
            in: query
            description: The personal interests
            type: string
            required: false
          - name: professionalInterests[].value
            in: query
            description: The personal interests
            type: string
            required: false
        responses:
          200:
            description: The response containing the match mentors
            schema:
              type: array
              items:
                 $ref: '#/definitions/Mentor'
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentees/{id}/confirmParentConsent:
      get:
        tags:
          - Mentee
        summary: confirm parent consent
        description: This endpoint is responsible for confirming parent consent
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
          - name: token
            in: query
            description: The token
            type: string
            required: true
        responses:
          200:
            description: The response containing the result
            schema:
              type: boolean
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentees:
    get:
      tags:
        - Mentee
      summary: search for entities
      description: This endpoint is responsible for searching by criteria
      security:
      - basicAuth: []
      parameters:
        - name: institutionId
          in: query
          description: The  institution id
          type: number
          required: false
        - name: status
          in: query
          description: The  status
          type: string
          required: false
        - name: minAveragePerformanceScore
          in: query
          description: The  min average performance scores
          type: string
          required: false
        - name: maxAveragePerformanceScore
          in: query
          description: The  max average performance scores
          type: string
          required: false
        - name: name
          in: query
          description: The name
          type: string
          required: false
        - name: personalInterests
          in: query
          type: number
          required: false
          description: should use personalInterests[0]=id
        - name: professionalInterests
          in: query
          type: number
          required: false
          description: should use professional[0]=id
        - name: assignedToInstitution
          in: query
          description: The assigned to institution flag
          type: boolean
          required: false
        - name: schoolName
          in: query
          description: The school name
          type: string
          required: false
        - name: pageNumber
          in: query
          description: The page number
          type: number
          format: int32
          required: false
        - name: pageSize
          in: query
          description: The page size
          type: number
          format: int32
          required: false
        - name: sortColumn
          in: query
          description: The sort column
          type: string
          required: false
        - name: sortOrder
          in: query
          description: The sort order
          type: string
          required: false
      responses:
        200:
          description: The response containing the InstitutionalPrograms
          schema:
            $ref: '#/definitions/MenteeSearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Mentee
      summary: create Mentee
      description: This endpoint is responsible for creating Mentee
      security:
        - basicAuth: []
      parameters:
        - name: institution
          in: body
          description: The Mentee to create
          schema:
            $ref: '#/definitions/MenteeCreateBody'
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/Mentee'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /mentors/{id}:
    get:
      tags:
        - Mentor
      summary: get Mentor
      description: This endpoint is responsible for getting Mentor
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: number
          required: true
      responses:
        200:
          description: The response containing the Mentor
          schema:
            $ref: '#/definitions/Mentor'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    put:
      tags:
        - Mentor
      summary: update Mentor
      description: This endpoint is responsible for updating Mentor
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
        - name: asset
          in: body
          description: The Mentor to update
          schema:
            $ref: '#/definitions/Mentor'
      responses:
        200:
          description: The response containing the Mentor
          schema:
            $ref: '#/definitions/Mentor'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

    delete:
      tags:
        - Mentor
      summary: delte Mentor
      description: This endpoint is responsible for deleting Mentor
      security:
        - basicAuth: []
      parameters:
        - name: id
          in: path
          description: The id
          type: string
          required: true
      responses:
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'

  /mentors/{id}/averageScore:
      get:
        tags:
          - Mentor
        summary: get Mentor average score
        description: This endpoint is responsible for getting Mentor
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
        responses:
          200:
            description: The response containing the score
            schema:
              type: number
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentors/{id}/matchingMentees:
      get:
        tags:
          - Mentor
        summary: get Mentor match mentees
        description: This endpoint is responsible for getting match mentees Mentees
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
          - name: maxCount
            in: query
            description: The max count
            type: number
            required: false
          - name: distance
            in: query
            description: The distance
            type: number
            required: false
          - name: personalInterests[].id
            in: query
            description: The personal interests
            type: number
            required: false
          - name: professionalInterests[].id
            in: query
            description: The personal interests
            type: number
            required: false
        responses:
          200:
            description: The response containing the  match mentees
            schema:
              type: array
              items:
                 $ref: '#/definitions/Mentee'
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentors/{id}/remoteMatchingMentees:
      get:
        tags:
          - Mentor
        summary: get Mentor match mentees
        description: This endpoint is responsible for getting match mentees Mentees using Haven OnDemand API
        security:
          - basicAuth: []
        parameters:
          - name: id
            in: path
            description: The id
            type: number
            required: true
          - name: maxCount
            in: query
            description: The max count
            type: number
            required: false
          - name: distance
            in: query
            description: The distance
            type: number
            required: false
          - name: personalInterests[].value
            in: query
            description: The personal interests
            type: string
            required: false
          - name: professionalInterests[].value
            in: query
            description: The personal interests
            type: string
            required: false
        responses:
          200:
            description: The response containing the  match mentees
            schema:
              type: array
              items:
                 $ref: '#/definitions/Mentee'
          400:
            description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
            schema:
              $ref: '#/definitions/Error'
          401:
            description: Authentication Error - ien is missing or invalid
            schema:
              $ref: '#/definitions/Error'
          403:
            description: Access Denied Error - if forbidden to access
            schema:
              $ref: '#/definitions/Error'
          404:
            description: Not Found - if match entity not found
            schema:
              $ref: '#/definitions/Error'
          500:
            description: Internal server error - if the request was properly formatted, but the operation failed on the server side
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'

  /mentors/linkedInExperience:
    get:
      tags:
        - Mentor
      summary: get Mentor linkedInExperience
      description: This endpoint is responsible for getting linkedInExperience for Mentor
      security:
        - basicAuth: []
      responses:
        200:
          description: The response containing the experience data
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfessionalExperienceData'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found - if match entity not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'


  /mentors:
    get:
      tags:
        - Mentor
      summary: search for entities
      description: This endpoint is responsible for searching by criteria
      security:
      - basicAuth: []
      parameters:
        - name: institutionId
          in: query
          description: The  institution id
          type: number
          required: false
        - name: status
          in: query
          description: The  status
          type: string
          required: false
        - name: minAveragePerformanceScore
          in: query
          description: The  min average performance scores
          type: string
          required: false
        - name: maxAveragePerformanceScore
          in: query
          description: The  max average performance scores
          type: string
          required: false
        - name: name
          in: query
          description: The name
          type: string
          required: false
        - name: personalInterests
          in: query
          type: number
          required: false
          description: should use personalInterests[0]=id
        - name: professionalInterests
          in: query
          type: number
          required: false
          description: should use professional[0]=id
        - name: assignedToInstitution
          in: query
          description: The assigned to institution flag
          type: boolean
          required: false
        - name: mentorType
          in: query
          description: The  mentor type
          type: string
          required: false
        - name: professionalAreas
          in: query
          description: use format professionalAreas[0].id=id
          type: number
          required: false
        - name: companyName
          in: query
          description: The company name
          type: number
          required: false
        - name: mentorRequestStatus
          in: query
          description: The mentor request status
          type: number
          required: false
        - name: pageNumber
          in: query
          description: The page number
          type: number
          format: int32
          required: false
        - name: pageSize
          in: query
          description: The page size
          type: number
          format: int32
          required: false
        - name: sortColumn
          in: query
          description: The sort column
          type: string
          required: false
        - name: sortOrder
          in: query
          description: The sort order
          type: string
          required: false
      responses:
        200:
          description: The response containing the Mentor
          schema:
            $ref: '#/definitions/MentorSearchResult'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal server error - if the request was properly formatted, but the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Mentor
      summary: create Mentor
      description: This endpoint is responsible for creating Mentor
      security:
        - basicAuth: []
      parameters:
        - name: institution
          in: body
          description: The Mentor to create
          schema:
            $ref: '#/definitions/MentorCreateBody'
      responses:
        200:
          description: The response containing the Institution
          schema:
            $ref: '#/definitions/Mentor'
        400:
          description: Bad Request - if there was problem with the request (e.g. malformed or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        401:
          description: Authentication Error - ien is missing or invalid
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Access Denied Error - if forbidden to access
          schema:
            $ref: '#/definitions/Error'
        500:
[...]
